/* Usland - Land For Sale WordPress Theme */

@media (max-width: 1599px) {
    .elementor-section.elementor-section-boxed > .elementor-container,
    .header-top-area .header-top-align,
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 1440px) {
    .elementor-section.elementor-section-boxed > .elementor-container,
    .header-top-area .header-top-align,
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1320px) {
    .elementor-section.elementor-section-boxed > .elementor-container,
    .header-top-area .header-top-align,
    .container {
        max-width: 1180px;
    }
}

@media (max-width: 1199px) {
    .elementor-section.elementor-section-boxed > .elementor-container,
    .header-top-area .header-top-align,
    .container {
        max-width: 86%;
    }
}

@media (max-width: 768px) {
    .elementor-section.elementor-section-boxed > .elementor-container,
    .header-top-area .header-top-align,
    .container {
        max-width: auto;
    }
}

@media only screen and (max-width: 5000px) {
    .page-wrapper {
        overflow: hidden;
    }
    .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
        padding: 0 !important;
    }
    .elementor-widget-container{
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 1340px) {
    .page-wrapper {
        overflow: hidden;
    }
}

@media only screen and (max-width: 1140px) {
    .usland-header {
        margin: 0px !important;
    }
    .page-wrapper {
        overflow: hidden;
    }
    .slider h3:before,
    .slider h3:after,
    .usland-header .header-upper .button-box {
        display: none;
    }
    .usland-header.header-style-three .header-upper .button-box {
        display: block;
    }
    .usland-header .outer-box .buttons-box .usland-r-btn {
        font-size: 16px;
    }
    .usland-header .outer-box .option-box>li {
        margin-left: 15px;
    }
    .usland-header .nav-outer {
        float: right;
    }
    .sec-title h2 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .main-menu .navigation>ul>li>ul,
    .main-menu .navigation>ul>li>ul>li>ul {
        display: block !important;
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .usland-header,
    .footer {
        padding-left: 15px !important;
        padding-right: 15px !important;
        position: relative !important;
    }
    .usland-header .main-box .logo-box {
        position: relative;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: 0px;
        text-align: left;
    }
    .usland-header .nav-outer {
        float: left;
        width: 100%;
    }
    .main-menu {
        float: inherit !important;
        width: 100%;
    }
    .navigation{
        margin: 0 auto;
    }
    .main-menu .navbar-collapse {
        float: inherit !important;
        width: 100%;
    }
    .main-menu .navigation>ul {
        margin: 0 auto !important;
    }
    .main-menu .navigation>ul>li {
        margin-left: 12px !important;
        margin-right: 12px !important;
    }
    .main-menu .navigation>ul>li>a {
        padding: 15px 0;
    }
    .strategy-block .inner-box {
        padding-left: 0px;
        padding-right: 0px;
    }
    .strategy-block .inner-box .icon-box {
        position: relative;
    }
    .services-section .inner-container {
        margin-top: 100px;
    }
    .usland-header .header-upper .menu-search-box {
        display: none;
    }
    .usland-header .header-upper .menu-search-box .dropdown-menu {
        top: 43px !important;
    }
    .usland-header .nav-toggler {
        display: block;
    }
    .slider .tparrows,
    .header-top-two .top-left,
    .fixed-header .sticky-header,
    .usland-header .header-top .top-right::before,
    .usland-header .header-top .top-right:after,
    .usland-header .header-top .top-right .list,
    .usland-header .header-upper .contact-number,
    .usland-header.header-style-three .header-upper .button-box {
        display: none;
    }
    .usland-header .header-top .top-right .social-nav {
        margin-left: 0px;
        width: 100%;
    }
    .main-menu .navigation a {
        font-size: 14px;
        font-weight: 500;
    }
    .usland-header .options-box {
        margin-top: 0px;
        position: absolute;
        left: 0px;
        top: 25px;
        z-index: 12;
        display: none;
        right: auto;
    }
    .usland-header .header-upper .upper-right {
        padding-top: 0px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    .main-menu .navigation>ul>li {
        margin-right: 25px;
    }
    .usland-header .header-upper .logo-box {
        margin-right: 0px;
        width: 100%;
        text-align: center;
        padding: 35px 0px 10px !important;
    }
    .usland-header .header-upper .outer-container {
        padding: 0px 15px;
    }
    .slider h2 {
        font-size: 80px;
        padding-left: 0px;
    }
    .slider h3 span {
        font-size: 50px;
    }
    .slider h2:before {
        display: none;
    }
    .slider h3.alternate span {
        font-size: 35px;
    }
    .header-top .top-left {
        display: none;
    }
    .header-top .top-right {
        width: 100%;
        text-align: center;
    }
    .header-top .top-right .social-box {
        width: 100%;
        text-align: center;
    }
    .main-menu .navigation>ul>li>a {
        padding: 25px 0px;
    }
    .usland-header .header-upper .support-box {
        margin-top: 10px;
    }
    .usland-header .header-upper .menu-search-box {
        margin-top: 30px;
    }
    .slider h2 {
        font-size: 60px;
    }
    .slider .text {
        font-size: 16px;
    }
    .contact-info-box,
    .wpcf7-form,
    .about-section,
    .sec-con-title,
    .property-section,
    .teams-section,
    .blog-section {
        padding-left: 15px;
        padding-right: 15px;
    }
    .banner-heading,
    .banner-heading-two {
        padding: 70px 0 70px;
    }
    .clients-name{
        width: 100% !important;
    }
}

@media only screen and (max-width: 990px) {
    .video-holder {
        margin-top: 60px;
    }
    .contact-section:before {
        width: 50%;
        height: 76%;
    }
}

@media only screen and (max-width: 767px) {
    .header-upper .logo-outer {
        position: relative;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        margin: 0px;
    }
    .usland-header .header-top .top-right,
    .usland-header .header-top .top-left {
        width: 100%;
    }
    .sec-title h2 {
        font-size: 32px;
    }
    .main-menu {
        width: 100%;
        display: block;
    }
    .main-menu .navbar-collapse {
        position: absolute;
        max-width: none;
        overflow: auto;
        float: none !important;
        width: 100% !important;
        padding: 0px 0px 0px;
        border: none;
        margin: 0px 0px 15px;
        -ms-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        box-shadow: none;
        top: 69px;
    }
    .main-menu .navbar-collapse.in,
    .main-menu .collapsing {
        padding: 0px 0px 0px;
        border: none;
        margin: 0px 0px 15px;
        -ms-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        box-shadow: none;
    }
    .main-menu .navbar-header {
        position: relative;
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        padding: 15px 0px;
        right: 0px;
        z-index: 12;
    }
    .main-menu .navbar-header .navbar-toggle {
        display: inline-block;
        z-index: 12;
        border: 1px solid #cc8809;
        float: none;
        margin: 0px 0px 0px 0px;
        border-radius: 0px;
        background: #cc8809;
    }
    .main-menu .navbar-header .navbar-toggle .icon-bar {
        background: #ffffff;
    }
    .main-menu .navbar-collapse>.navigation>ul {
        float: none !important;
        margin: 0px !important;
        width: 100% !important;
        background: #2c2c2c98;
        border-top: none;
    }
    .main-menu .navbar-collapse>.navigation>ul>li {
        margin: 0px !important;
        float: none !important;
        padding: 5px !important;
        width: 100%;
    }
    .main-menu .navigation>ul>li>a,
    .main-menu .navigation>ul>li>ul:before {
        border: none;
    }
    .main-menu .navbar-collapse>.navigation>ul>li>a {
        padding: 10px 10px;
        border: none !important;
    }
    .main-menu .navigation .sub-menu>li>a {
        padding-left: 25px !important;
    }
    .main-menu .navigation .sub-menu>li>.sub-menu>li>a {
        padding-left: 50px !important;
    }
    .main-menu .navigation>ul li.menu-item-has-children>a:after,
    .main-menu .navigation>ul>li.menu-item-has-children>a:before,
    .main-menu .navigation>ul>li>ul>li>a::before,
    .main-menu .navigation>ul>li>ul>li>ul>li>a::before {
        color: #ffffff !important;
        right: 15px;
        font-size: 16px;
        display: none !important;
    }
    .main-menu .navbar-collapse>.navigation>ul>li>ul,
    .main-menu .navbar-collapse>.navigation>ul>li>ul>li>ul {
        position: relative;
        border: none;
        float: none;
        visibility: visible;
        opacity: 1;
        display: none;
        margin: 0px;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        padding: 0px;
        outline: none;
        width: 100%;
        background: #2c2c2c;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        -moz-transition: none !important;
    }
    .main-menu .navbar-collapse .navigation li {
        border-top: 1px solid rgba(255, 255, 255, 0.27) !important;
        border-bottom: none;
        opacity: 1 !important;
        top: 0px !important;
        left: 0px !important;
        visibility: visible !important;
    }
    .main-menu .navbar-collapse>.navigation>ul>li:first-child {
        border: none;
    }
    .main-menu .navbar-collapse>.navigation>ul>li>a,
    .main-menu .navbar-collapse>.navigation>ul>li>ul>li>a,
    .main-menu .navbar-collapse>.navigation>ul>li>ul>li>ul>li>a {
        padding: 10px 10px;
        line-height: 22px;
        color: #ffffff;
        background: #2c2c2c;
        text-align: left;
    }
    .main-menu .navbar-collapse>.navigation>ul>li>a:hover,
    .main-menu .navbar-collapse>.navigation>ul>li>a:active,
    .main-menu .navbar-collapse>.navigation>ul>li>a:focus {
        background: #cc8809;
    }
    .main-menu .navbar-collapse>.navigation>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>ul>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>ul>li>ul>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>ul>li.current-menu-item>a,
    .main-menu .navbar-collapse>.navigation>ul>li.current-menu-item>a {
        background: #2c2c2c;
    }
    .main-menu .navbar-collapse>.navigation>ul li.menu-item-has-children .dropdown-btn {
        display: block;
    }
    .slider .owl-nav,
    .slider .schedule-box,
    .main-menu .navbar-collapse>.navigation>ul li.menu-item-has-children:after,
    .main-menu .navigation>ul>li>ul:before {
        display: none !important;
    }
    .usland-header .btn-outer {
        left: 0px;
        top: 0px;
        right: auto;
        margin-top: 15px;
        text-align: left;
        z-index: 12;
    }
    .usland-header .main-box .logo-box {
        float: none;
        text-align: center;
        padding-bottom: 10px;
    }
    .usland-header .menu-search-box .dropdown-menu {
        left: 0px;
        top: 47px;
    }
    .usland-header .header-top {
        padding: 10px 0px;
    }
    .usland-header .info-box {
        padding-left: 0px;
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .usland-header .info-box:last-child {
        margin-bottom: 0px;
    }
    .usland-header .info-box .icon-box {
        position: relative;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .usland-header .main-box .outer-container {
        padding: 0px;
    }
    .usland-header .header-lower .outer-box {
        position: absolute;
        z-index: 12;
        display: block;
    }
    .main-menu .navbar-header .navbar-toggler {
        display: inline-block;
        z-index: 12;
        width: 50px;
        height: 40px;
        float: none;
        padding: 0px;
        text-align: center;
        border-radius: 3px;
        background: #ee2d50;
        border: 1px solid #ee2d50;
    }
    .main-menu .navbar-header .navbar-toggler .icon-bar {
        position: relative;
        background: #ffffff;
        height: 2px;
        width: 26px;
        display: block;
        margin: 0 auto;
        margin: 5px 11px;
    }
    .usland-header .nav-outer {
        width: 100%;
    }
    .slider h2 {
        font-size: 60px;
        padding-left: 0px;
    }
    .slider h3 {
        font-size: 20px;
    }
    .slider .text {
        font-size: 16px;
    }
    .slider .slide {
        padding: 120px 0px;
    }
    .usland-header .outer-box .option-box>li {
        margin-left: 0px;
        margin-right: 20px;
    }
    .header-top .top-left .text {
        text-align: center;
        padding: 10px 0px;
    }
    .usland-header .header-lower .menu-search-box .dropdown-menu {
        left: 0px !important;
    }
    .usland-header .header-upper .menu-search-box {
        position: absolute;
        top: 0px;
        z-index: 12;
        margin-top: 25px;
    }
    .usland-header .header-upper .menu-search-box .dropdown-menu {
        top: 48px !important;
        left: 0px;
        right: auto;
    }
    .slider h2 {
        font-size: 45px;
    }
    .main-footer .footer-bottom {
        text-align: center;
    }
    .main-footer .footer-bottom .footer-nav {
        text-align: center;
        margin-top: 6px;
    }
    .page-title h1 {
        font-size: 44px;
    }
    .services-block.style-two {
        margin-top: 50px;
    }
    .services-style-two:before {
        left: 12px;
        top: -12px;
    }
    .video-holder .overlay-holder span {
        top: 42%;
    }
    .widget:first-child {
        margin-top: 80px;
    }
    .clients-name{
        width: 100% !important;
    }
    .elementor-element .elementor-widget-container .sec-con-title{
        width: 100% !important;
    }
}

@media only screen and (max-width: 599px) {
    .slider .price,
    .slider h3.light {
        font-size: 26px;
    }
    .header-top .top-right .social-box li.share {
        font-size: 15px;
    }
    .slider h2 {
        font-size: 34px;
    }
    .slider .usland-r-btn {
        margin-right: 10px;
    }
    .page-title h1 {
        font-size: 30px;
    }
    .beyong-section .beyong-tabs .tabs-content {
        padding: 15px 15px;
    }
    .slider .usland-r-btn {
        padding: 8px 16px;
        font-size: 12px;
    }
    .counter-section:before {
        width: 100%;
    }
    .counter-section .count-title h2,
    .counter-section-two .count-title h2 {
        position: relative;
        margin-top: 0;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    .contact-section::before {
        height: 71%;
    }
    .video-holder .overlay-holder span {
        top: 34%;
    }
    .counter-section-two:after {
        width: 73%;
    }
    .error-404 h1 {
        font-size: 135px;
    }
    .comment-form .form-group:nth-child(3),
    .comment-form .form-group:nth-child(4) {
        width: 100% !important;
        float: inherit !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .comment-form .comment-form-cookies-consent label {
        display: inline;
    }
    .footer .footer-bottom,
    .footer .footer-bottom .footer-nav {
        text-align: center !important;
    }
    .clients-name{
        width: 95% !important;
    }
}

@media only screen and (max-width: 575px) {
    .counter-section .count-title h2 {
        position: relative !important;
        transform: rotate(0deg) !important;
        -webkit-transform: rotate(0deg) !important;
        -moz-transform: rotate(0deg) !important;
        -ms-transform: rotate(0deg) !important;
        -o-transform: rotate(0deg) !important;
    }
    .com-counter {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .get-quote-section h1 {
        font-size: 22px !important;
    }
}

@media only screen and (max-width: 479px) {
    .usland-header .menu-search-box .dropdown-menu {
        top: 44px;
    }
    .usland-header .nav-toggler {
        top: 0px;
    }
    .blog-single .post-share-options .info-links {
        width: 100%;
    }
    .usland-header .header-upper .menu-search-box {
        display: none;
    }
}